<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
  <head>
    <title>{{ data.title }}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- <style>
         .verse {
         white-space: nowrap;
         vertical-align: super;
         font-size: 0.6em;
         line-height: 0;
         }
         .heading {
         font-weight: bold;
         font-size: 1.4em;
         text-align: center;
         }
         </style> -->
  </head>
  <body>
    <p><img src="../../../icon-tn.png" /></p>
    <h1>{{ data.title }}</h1>
    <h2>{{ data.revision_date }}</h2>
  </body>
</html>
