<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
  <head>
    <title>{{ data.title }}</title>
    <!-- <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
         /> -->
    <style>
      .verse {
        white-space: nowrap;
        vertical-align: super;
        font-size: 0.6em;
        line-height: 0;
      }

      .heading {
        font-weight: bold;
        font-size: 1.4em;
        text-align: center;
      }

      .image_center {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      h2 {
        text-align: center;
      }

      h3 {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <p>
      <img
        src='data:image/png;base64,{{data.images["logo"]}}'
        class="image_center"
      />
    </p>
    <h2>{{ data.title }}</h2>
    {% if data.unfound %}
    <h3>Requested, but currently unavailable resources: {{ data.unfound }}</h3>
    {% endif %} 
    {% if data.unloaded %}
    <h3>Requested, but currently unsupported resources: {{ data.unloaded }}</h3>
    {% endif %}
    <h3>{{ data.revision_date }}</h3>
  </body>
</html>
