[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyparsing = "*"
uw-tools = {git = "git://github.com/unfoldingWord-dev/uw_tools.git"}
usfm-tools = {git = "git://github.com/linearcombination/USFM-Tools.git"}
gogs-client = "*"
markdown2 = "*"
bs4 = "*"
jsonpath-rw = "*"
jsonpath-rw-ext = "*"
mypy = "*"
PyYAML = "*"
Markdown = "*"

[requires]
python_version = "3.8"
