[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
PyYAML = "*"
bs4 = "*"
fastapi = "*"
# gogs-client = "*" # FIXME gitea client old name
icontract = "*"
jinja2 = "*"
jsonpath-rw = "*"
jsonpath-rw-ext = "*"
# logdecorator
Markdown = "*"
parse = "*"
pathlib = "*"
pdfkit = "*"
pydantic = "*"
pyparsing = "2.4.5"
requests = "*"
uvicorn = "*"
# tests & dev
mypy = "*"
flake8 = "*"
wemake-python-styleguide = "*"
flake8-mypy = "*"
pytest = "*"
pytest-icdiff = "*"
pylint = "*"
pyicontract-lint = "*"
python-language-server = "*"
isort = "*"
pyls-mypy = "*"
document = {editable = true, path = "./src"}
# usfm-tools = {editable = true, path = "./../USFM-Tools"}
usfm-tools = {editable = true, ref="develop", git = "git://github.com/linearcombination/USFM-Tools.git"}

[packages]
PyYAML = "*"
bs4 = "*"
fastapi = "*"
# gogs-client = "*" # FIXME gitea client, old name
icontract = "*"
jinja2 = "*"
jsonpath-rw = "*"
jsonpath-rw-ext = "*"
# logdecorator
Markdown = "*"
parse = "*"
pathlib = "*"
pdfkit = "*"
pydantic = "*"
pyparsing = "2.4.5"
requests = "*"
uvicorn = "*"
document = {editable = true, path = "./src"}
# usfm-tools = {editable = true, path = "./../USFM-Tools"}
usfm-tools = {editable = true, ref="develop", git = "git://github.com/linearcombination/USFM-Tools.git"}

[requires]
python_version = "3.8"
