-c requirements.txt
black
cohesion
dlint
flake8
flake8-bandit
flake8-eradicate
flake8-fixme
flake8-mypy
flake8-todo
icontract-hypothesis
isort
mypy
pyicontract-lint
pylint
pyls-mypy
pytest
pytest-datafiles
pytest-icdiff
radon
typeguard
vulture
wemake-python-styleguide
