# yamlpath
PyYAML
bs4
flask
git+git://github.com/arount/pytea#egg=pytea
git+git://github.com/linearcombination/USFM-Tools.git#egg=usfm_tools
git+git://github.com/unfoldingWord-dev/uw_tools.git#egg=uw_tools
gogs-client
jsonpath-rw
jsonpath-rw-ext
markdown
markdown2
parse
pathlib
pyparsing
requests
