Markdown
PyYAML
aiofiles
bs4
fastapi
git+https://github.com/linearcombination/USFM-Tools.git@develop#egg=USFM-Tools
gunicorn
jinja2
jsonpath-rw
jsonpath-rw-ext
more-itertools
pdfkit
pydantic[email,dotenv]
pyparsing
requests
termcolor
uvicorn

types-PyYAML
types-Markdown
types-beautifulsoup4
types-ujson
types-orjson
types-requests
types-termcolor
types-toml
types-setuptools
