Markdown
PyYAML
aiofiles
bs4
fastapi
git+https://github.com/linearcombination/USFM-Tools.git@develop#egg=USFM-Tools
gunicorn
icontract
jinja2
jsonpath-rw
jsonpath-rw-ext
logdecorator
more-itertools
parse
pathlib
pdfkit
pydantic[email,dotenv]
pyparsing
requests
termcolor
uvicorn
