cython # For pydantic: https://pydantic-docs.helpmanual.io/install/
Markdown
PyYAML
aiofiles
beautifulsoup4
celery
celery-types
docxtpl
fastapi
flower
htmldocx
html2docx
GitPython
gunicorn
jinja2
jsonpath-rw
jsonpath-rw-ext
lxml
more-itertools
orjson
pdfkit
pydantic
email-validator
psutil
python-dotenv
redis
requests
setuptools
termcolor
toolz
trio
uvicorn

types-PyYAML
types-Markdown
types-beautifulsoup4
types-ujson
types-orjson
types-requests
types-termcolor
types-toml
types-setuptools
